<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../../styles/template/reset.css"> <!-- reset css -->
    <link rel="stylesheet" href="../../styles/template/80-90.css"> <!-- main css -->

</head>

<body>
    <div id="title">
        <!-- Your title -->
        <h1 class="mainTitle">Title Topic</h1>
    </div>
    <div class="container">
        <div class="sidebar">
            <div class="clock"><a href="../../html/template/template.html"></a></div>
            <div class="timeline-sidebar">
                <div class="circles">
                    <div class="circle" style="width: .7em; height: .7em;">
                        <span class="year"></span>
                    </div>
                    <div class="circle" style="width: .8em; height: .8em;">
                        <span class="year"></span>
                    </div>
                    <div class="circle" style="width: .9em; height: .9em;">
                        <span class="year"></span>
                    </div>
                    <div class="circle">
                        <span class="year"><a href="../../html/template/template.html">2023</a></span>
                    </div>
                    <div class="circle">
                        <span class="year"><a href="../../html/template/template.html">2023</a></span>
                    </div>
                    <div class="circle">
                        <span class="year"><a href="../../html/template/template.html">2023</a></span>
                    </div>
                    <div class="circle">
                        <span class="year"><a href="../../html/template/template.html">2023</a></span>
                    </div>
                    <div class="circle">
                        <span class="year"><a href="../../html/template/template.html">2023</a></span>
                    </div>
                    <div class="circle">
                        <span class="year"><a href="../../html/template/template.html">2023</a></span>
                    </div>
                    <div class="circle">
                        <span class="year"><a href="../../html/template/template.html">2023</a></span>
                    </div>
                    <div class="circle">
                        <span class="year"><a href="../../html/template/template.html">2023</a></span>
                    </div>
                    <div class="circle" style="width: .9em; height: .9em;">
                        <span class="year"></span>
                    </div>
                    <div class="circle" style="width: .8em; height: .8em;">
                        <span class="year"></span>
                    </div>
                    <div class="circle" style="width: .7em; height: .7em;">
                        <span class="year"></span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- main content where you can put yours informations -->
        <div class="main">

            <!--Example of a sub title-->
            <h2 class="sub_title">Sub title</h2>
            <!--Example of div with text and table-->
            <div class="start_text">
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, veniam! Molestias rem laboriosam atque sed minus, placeat blanditiis unde, nemo saepe quod incidunt ab, dolore similique nesciunt quaerat eligendi explicabo eius sunt maxime facilis? Mollitia unde voluptatum repudiandae, aperiam dolore culpa. Dolorum suscipit quia exercitationem quae error velit perspiciatis incidunt quo alias, placeat, iure tenetur quisquam doloremque voluptas? Illo hic, ipsa nemo tempora consequuntur nesciunt incidunt, dolorum necessitatibus aspernatur libero animi quasi laboriosam ratione consequatur minus blanditiis deleniti. Hic, tempora? Rerum, possimus neque consequatur qui, suscipit nam, numquam dolor delectus voluptatibus error officiis deleniti? Mollitia excepturi enim laboriosam illo? Earum.
                </p>
                <table>
                    <tr>
                        <th>Test</th>
                        <th>Test</th>
                        <th>Test</th>
                    </tr>
                    <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                    </tr>
                    <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                    </tr>
                    <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                    </tr>
                </table>
            </div>
            
            <!--Example of div with list-->
            <div class="under_text">
                <div class="list">
                    <ul>
                        <li>Test</li>
                        <li>Test</li>
                        <li>Test</li>
                        <li>Test</li>
                    </ul>
                </div>
            </div>
        
            <!--Example of div with text and image-->
            <h2 class="sub_title">Sub title</h2>
            <div class="text_container">
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, veniam! Molestias rem laboriosam atque sed minus, placeat blanditiis unde, nemo saepe quod incidunt ab, dolore similique nesciunt quaerat eligendi explicabo eius sunt maxime facilis? Mollitia unde voluptatum repudiandae, aperiam dolore culpa. Dolorum suscipit quia exercitationem quae error velit perspiciatis incidunt quo alias, placeat, iure tenetur quisquam doloremque voluptas? Illo hic, ipsa nemo tempora consequuntur nesciunt incidunt, dolorum necessitatibus aspernatur libero animi quasi laboriosam ratione consequatur minus blanditiis deleniti. Hic, tempora? Rerum, possimus neque consequatur qui, suscipit nam, numquam dolor delectus voluptatibus error officiis deleniti? Mollitia excepturi enim laboriosam illo? Earum.
                </p>
                <img class="image" src="../../styles/template/placeholder.png" alt="placeholder">
            </div>

        </div>
        <div class="nofloat"></div>
    </div>
</body>
</html>