<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="../../styles/template/reset.css"> <!-- reset css -->
    <link rel="stylesheet" href="../../styles/template/91-01.css"> <!-- main css -->
</head>

<body>
    <div id="title">
        <!-- Your title -->
        <h1 class="mainTitle">Title Topic</h1>
    </div>
    <div class="sidebar">
        <div class="clock"><a href="../../html/template/template.html"></a></div>
        <div class="timeline-sidebar">
            <div class="circles">
                <div class="circle" style="width: .7em; height: .7em;">
                    <span class="year"></span>
                </div>
                <div class="circle" style="width: .8em; height: .8em;">
                    <span class="year"></span>
                </div>
                <div class="circle" style="width: .9em; height: .9em;">
                    <span class="year"></span>
                </div>
                <div class="circle">
                    <span class="year"><a href="../../html/template/template.html">2023</a></span>
                </div>
                <div class="circle">
                    <span class="year"><a href="../../html/template/template.html">2023</a></span>
                </div>
                <div class="circle">
                    <span class="year"><a href="../../html/template/template.html">2023</a></span>
                </div>
                <div class="circle">
                    <span class="year"><a href="../../html/template/template.html">2023</a></span>
                </div>
                <div class="circle">
                    <span class="year"><a href="../../html/template/template.html">2023</a></span>
                </div>
                <div class="circle">
                    <span class="year"><a href="../../html/template/template.html">2023</a></span>
                </div>
                <div class="circle">
                    <span class="year"><a href="../../html/template/template.html">2023</a></span>
                </div>
                <div class="circle">
                    <span class="year"><a href="../../html/template/template.html">2023</a></span>
                </div>
                <div class="circle" style="width: .9em; height: .9em;">
                    <span class="year"></span>
                </div>
                <div class="circle" style="width: .8em; height: .8em;">
                    <span class="year"></span>
                </div>
                <div class="circle" style="width: .7em; height: .7em;">
                    <span class="year"></span>
                </div>
            </div>
        </div>
    </div>






    <!-- main content where you can put yours informations -->
    <div class="main">
        <h2 class="subtitle">Sub title</h2>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur aperiam omnis ipsum ipsam, maxime possimus porro, reprehenderit corporis deleniti sunt perspiciatis saepe. Error officiis fugiat quaerat culpa? Voluptatem, fugiat non!
        </p>
        <h2 class="subtitle">Sub title</h2>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur aperiam omnis ipsum ipsam, maxime possimus porro, reprehenderit corporis deleniti sunt perspiciatis saepe. Error officiis fugiat quaerat culpa? Voluptatem, fugiat non!
        </p>
        <h2 class="subtitle">Sub title</h2>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur aperiam omnis ipsum ipsam, maxime possimus porro, reprehenderit corporis deleniti sunt perspiciatis saepe. Error officiis fugiat quaerat culpa? Voluptatem, fugiat non!
        </p>
        <h2 class="subtitle">Sub title</h2>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur aperiam omnis ipsum ipsam, maxime possimus porro, reprehenderit corporis deleniti sunt perspiciatis saepe. Error officiis fugiat quaerat culpa? Voluptatem, fugiat non!
        </p>
    </div>
    <div class="nofloat"></div>
</body>
</html>