<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLOCK</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="sidebar">
        <div class="side-hero">
            <div class="clock-container">
                <div class="clock-hero">
                    <div class="clock">
                        <div class="hand"></div>
                    </div>
                </div>
                <div class="menu-hero">
                    <ul>
                        <li id="home"><a href="">Home</a></li>
                        <li id="about"><a href="">About</a></li>
                        <li id="source"><a href="">Sources</a></li>
                        <li id="contact"><a href="">Contact</a></li>
                    </ul>
                </div> 
            </div> 
            <div class="timeline-sidebar">
                <div class="circles">
                    <div class="circle">
                        <a href="../../html/template/template.html">1960</a>
                    </div>
                    <div class="circle">
                        <a href="../../html/template/template.html">1960</a>
                    </div>
                    <div class="circle">
                        <a href="../../html/template/template.html">1960</a>
                    </div>
                    <div class="circle">
                        <a href="../../html/template/template.html">1960</a>
                    </div>
                    <div class="circle">
                        <a href="../../html/template/template.html">1960</a>
                    </div>
                    <div class="circle">
                        <a href="../../html/template/template.html">1960</a>
                    </div>
                    <div class="circle">
                        <a href="../../html/template/template.html">1960</a>
                    </div>
                    <div class="circle">
                        <a href="../../html/template/template.html">1960</a>
                    </div>
                    <div class="circle">
                        <a href="../../html/template/template.html">1960</a>
                    </div>
                    <div class="circle">
                        <a href="../../html/template/template.html">1960</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="script.js"></script> 
</html>